.obsidian/plugins/*

!.obsidian/plugins/templater-obsidian/
!.obsidian/plugins/dataview/

.obsidian/themes/
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/graph.json
.obsidian/appearance.json
